html{
  background-image:linear-gradient(red, yellow);
  background-attachment: fixed;
}
@font-face{
  font-family:Digi;
  src:url("font/DS-DIGI.TTF");
}

body{
  display:flex;
  justify-content: center;
  align-content: center;
}
.calc{
  border:10px double black;
  border-radius: 10px;
  width: 65%;
  font-family: Digi;
}
.input{
  background-color:grey;
  margin:.25em;
  font-family: Digi;
}

.calc-display{
  width:95%;
  height: 1.3em;
  border-radius:10px;
  border: 5px solid black;
  background-color: lightslategrey;
  padding:0;
  margin:0;
  text-align: center;
  align-content: center;
  font-size: 3em;
  font-family: Digi;
}
#calc-display{
  padding-bottom: 1em;
}



.math{
  background-color: green;
  height: 50px;
  font-family: Digi;
}
.digit{
  background-color: red;
  height: 50px;
}
.buttons{
  display: grid;
  grid-template-columns: repeat(4 ,minmax(50px, 1fr));
}
.button{
  font-size: 3em;
  font-family: Digi;
}
.equal{
  background-color: blue;
  height: 50px;
}
.clear{
  background-color: black;
  color:red;
  height: 50px;
  grid-column: 1/3;
}
