
.math{
  background-color: green;
  height: 50px;
  width:20%;
}
.digit{
  background-color: red;
  height: 50px;
  width:20%;
}
.equal{
  background-color: blue;
  height: 50px;
  width:20%;
}
.clear{
  font-family: helvetica bold sans-serif;
  background-color: black;
  color:red;
  height: 50px;
  width:60.75%;
}

p{
  border:1px solid black;

}
