body{
  display:flex;
  justify-content: center;
  align-content: center;
  background-color: red;
}
.calc{
  border:10px solid black;
  border-radius: 10px;
  width: 65%;
  background-color: blue;
}
.calcbox{
  display: flex;
  justify-content: center;
}
#calc-display{
  width:95%;
  height: 1em;
  border-radius:10px;
  border: 5px solid grey;
  margin-bottom:10px;
  text-align: center;
  align-content: center;
  font-size: 3em;
  background-color: white;
}
.inputButtons{
  display: grid;
  grid-template-columns: repeat(3, minmax(500px, 1fr));
  justify-content: center;
  align-items: center;
}

.math{
  background-color: green;
  height: 50px;
  width:20%;
}
.digit{
  background-color: red;
  height: 50px;
  width:20%;
}
.button{
  font-size: 1em;
}
.equal{
  background-color: blue;
  height: 50px;
  width:20%;
}
.clear{
  font-family: helvetica bold sans-serif;
  background-color: black;
  color:red;
  height: 50px;
  width:60.75%;
}
